@charset "utf-8";

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}
a,
a:link {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Noto Sans KR", "Poppins";
  /* background: #f6f6f6; */
  background: #666666;
}
/* ------------------------------------header-------------------------------------- */
.header-bg {
  padding: 1rem;
}
header {
  width: 1400px;
  margin: 0 auto;
}
header img {
  width: 150px;
}
header p {
  font-size: 19.2px;
  color: #555;
}
.header-btn a:nth-child(1) {
  color: #fff;
  background: red;
  font-size: 11.67px;
  font-weight: bold;
  border-radius: 30px;
  padding: 5px 1rem;
}
.header-btn a:nth-child(2) {
  color: #004c97;
  font-weight: bold;
  border-left: 1px solid #555;
  font-size: 13.856px;
  padding-left: 1rem;
  margin-left: 1rem;
}

/* ---------------------------------nav---------------------------------------- */
nav {
  background: #fff;
  width: 100%;
  position: absolute;
  z-index: 1000;
}
.nav {
  width: 1400px;
  margin: 0 auto;
}
#gnb {
  /* 가로 사이즈를 정해주고 그 블록 안에서 justfy-center 해 줘야 센터됨*/
  font-size: 1.125rem;
  font-weight: bold;
  width: 1200px;
  gap: 5rem;
  height: 80px;
  align-items: center;
  justify-content: center;
  position: relative;
}
#gnb > li {
  text-align: center;
}
.lnb {
  display: flex;
  display: none;
  position: absolute;
  bottom: 0;
}
.nav-icon span {
  font-size: 2.5rem;
}
.nav-icon a:nth-child(2) {
  margin-left: 2rem;
}

/*------------------------------------ main ------------------------------------*/
main {
  position: relative;
  width: 1400px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 30px;
  top: 120px;
}
.carousel-text {
  color: #fff;
  position: absolute;
  top: 70px;
  left: 70px;
}
.carousel-text > p {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}
.carousel-text > h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
.carousel-img {
  flex: 1 1 500px; /*?*/
}
/* --------------------------------------service----------------------------------------------- */
.service {
  width: 1400px;
  margin: 0 auto;
  margin-top: 160px;
}
.service h1 {
  font-size: 2rem;
  font-weight: bold;
}
.service-box {
  margin-top: 2rem;
  background: #fff;
  border-radius: 30px;
  padding: 3rem 4rem 3rem 4rem;
  text-align: center;
}
.service-box h2 {
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
  margin-bottom: 1rem;
}
.service-box p {
  color: #666;
  margin-bottom: 1rem;
}
.service-box button {
  border-radius: 30px;
  border: 0;
  padding: 0.5rem 1rem;
  background: #f6f6f6;
}

/* ---------------------------------------------hot_carousel--------------------------------------------*/
.hotitems {
  width: 1400px;
  margin: 0 auto;
  overflow: hidden;
}
.hotitems h1 {
  font-size: 2rem;
  font-weight: bold;
}
.hot_carousel{
  background: white;
  border-radius: 30px;
}
.hot_carousel ul li {
  flex: 0 0 25%;
  height: 305px;
  overflow: hidden;
  border-radius: 30px;
}
.hot_carousel ul li img {
  /* object-fit: cover; */
  /* flex-basis: auto; */
}
select {
  background: none;
  border: 0;
  font-size: 1.125rem;
  color: #313131;
}

/*--------------------------------------------- push-items ------------------------------------------------------*/
.push-items {
  width: 1400px;
  margin: 0 auto;
}
.push-items h1 {
  font-size: 2rem;
  font-weight: bold;
}
/* ---------------------------------------------rental-solution-------------------------------------------------------- */
.rental-solution {
  width: 1400px;
  margin: 0 auto;
}
.rental-solution h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}
.rental-solution h3 {
  font-size: 1.625rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.rental-solution p {
  color: #666;
}
.rental-solution a {
  color: #666;
}
.rental-solution img {
  margin: 0 0 0 2rem;
}
.rental-solution span {
  margin: 0 2rem 0 0;
}
/* ---------------------------------------------------qna------------------------------------------------------------------ */
.qna {
  width: 1400px;
  margin: 0 auto;
  background: #8da7f1;
  border-radius: 30px;
  padding: 3rem;
  box-sizing: border-box;
}
.qna-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.qna h2 {
  font-size: 1.625rem;
  color: #fff;
  /* margin: 0 0 1rem 0; */
}
.qna p {
  font-size: 1.125rem;
  color: #fff;
}
.qna button {
  /* margin: 1rem 0 0 0; */
  background: #fff;
  border-radius: 30px;
  border: 0;
  width: 7rem;
  padding: 10px 15px 10px 15px;
}
/* ------------------------------------------------footer--------------------------------------------------- */
footer {
    width: 1400px;
    margin: 0 auto;
}
hr {
    color: #666;
}
.privacy {
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.privacy li {
    border-right: 1px solid #ddd;
    margin: 0 1rem 0 0;
    padding: 2px 1rem 2px 0;
}
.privacy li {

}
.privacy li:nth-child(7) {
    border: 0;
}
footer img {
    width: 150px;
    margin: 0 0 2rem 0;
}
.foot_menu li {
  border-right: 1px solid #ddd;
  margin: 0 .5rem 0 0;
  padding: 2px .5rem 2px 0;
}
.foot_menu li:nth-last-child(1) {
  border: 0;
}


/*-------------------------------------------- Awards------------------------------------ */
.Awards {
  width: 1400px;
  margin: 0 auto;
}
.Awards h2 {
 font-weight: bold;
 color: #555;
}
.Awards a img {
  width: 20px;
  margin: 0 0 0 .5rem;
}


/* 공용 */
.font-bold {
  font-weight: bold;
}
.bg-g {
  background: gold;
}
.bg-w {
  background: #fff;
}
.border-r30 {
  border-radius: 30px;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1 1 1;
}
.flex-2 {
  flex: 2 2 2;
}
.flex-a {
  flex: auto;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: end;
}
.justify-start {
  justify-content: start;
}
.align-center {
  align-items: center;
}
.align-between {
  align-content: space-between;
}
.text-center {
  text-align: center;
}
.box-sizing {
  box-sizing: border-box;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-3 {
  margin-top: 3rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-3 {
  margin-left: 3rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-3 {
  margin-right: 3rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.mb-2 {
    margin-bottom: 2rem;
}
.mb-3 {
    margin-bottom: 3rem;
}
.pt-1 {
  padding-top: 1rem;
}
.pt-2 {
  padding-top: 2rem;
}
.pt-3 {
  padding-top: 3rem;
}
.pb-1 {
  padding-bottom: 1rem;
}
.pb-2 {
  padding-bottom: 2rem;
}
.pb-3 {
  padding-bottom: 3rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.fluind {
  max-width: 100%;
  object-fit: cover;
}